SaluteASoldier/SaluteASoldier.suo
SaluteASoldier/_ReSharper.SaluteASoldier/
SaluteASoldier/SaluteASoldier.Database/obj/
SaluteASoldier/SaluteASoldier.sln.docstates.suo
SaluteASoldier/SaluteASoldier.Web/bin/
SaluteASoldier/SaluteASoldier.Database/sql/debug/SaluteASoldier.Database.dacpac
SaluteASoldier/SaluteASoldier.Web/obj/
SaluteASoldier/SaluteASoldier.Web/obj/
SaluteASoldier/SaluteASoldier.Web/obj/
SaluteASoldier/SaluteASoldier.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
