SaluteASoldier/SaluteASoldier.suo
SaluteASoldier/_ReSharper.SaluteASoldier/
SaluteASoldier/SaluteASoldier.Database/obj/
SaluteASoldier/SaluteASoldier.sln.docstates.suo
SaluteASoldier/SaluteASoldier.Web/bin/
SaluteASoldier/SaluteASoldier.Database/sql/debug/SaluteASoldier.Database.dacpac
SaluteASoldier/SaluteASoldier.Web/obj/
SaluteASoldier/SaluteASoldier.Web/obj/
SaluteASoldier/SaluteASoldier.Web/obj/
SaluteASoldier/SaluteASoldier.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SaluteASoldier/SaluteASoldier.5.1.ReSharper.user
SaluteASoldier/SaluteASoldier.Database/_ConversionReport_Files/
SaluteASoldier/SaluteASoldier.Database/ConversionLog.xml
SaluteASoldier/SaluteASoldier.Database/SaluteASoldier.Database.sqlproj.user
SaluteASoldier/SaluteASoldier.Database/sql/
SaluteASoldier/SaluteASoldier.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SaluteASoldier/SaluteASoldier.Database/SaluteASoldier.Database.dbmdl
