<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://saluteasoldier.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>saluteasoldier</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$saluteasoldier</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SaluteASoldierContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:jq1sefxp87.database.windows.net,1433;Initial Catalog=saluteasoldier;User ID=teamtci@jq1sefxp87;Password=Mermaid1" Name="Data Source=tcp:jq1sefxp87.database.windows.net,1433;Initial Catalog=saluteasoldier;User Id=teamtci@jq1sefxp87;Password=Mermaid1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SaluteASoldier.Web.Models.SaluteASoldierContext, SaluteASoldier.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:jq1sefxp87.database.windows.net,1433;Initial Catalog=saluteasoldier;User ID=teamtci@jq1sefxp87;Password=Mermaid1" Name="Data Source=tcp:jq1sefxp87.database.windows.net,1433;Initial Catalog=saluteasoldier;User Id=teamtci@jq1sefxp87;Password=Mermaid1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-SaluteASoldier.Web-20121128092308;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-SaluteASoldier.Web-20121128092308;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jq1sefxp87.database.windows.net,1433;Initial Catalog=saluteasoldier;User Id=teamtci@jq1sefxp87;Password=Mermaid1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SaluteASoldierContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SaluteASoldierModel.csdl|res://*/Models.SaluteASoldierModel.ssdl|res://*/Models.SaluteASoldierModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:jq1sefxp87.database.windows.net,1433;Initial Catalog=saluteasoldier;User Id=teamtci@jq1sefxp87;Password=Mermaid1"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>