@{
    ViewBag.Title = "ScreenMessages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="jumbotron">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>From</th>
					<th>To</th>
					<th>Date</th>
					<th>Message</th>
				</tr>				
			</thead>
			<tbody>
				<tr>
					<td><!--insert script for retrieving from db-->Former USMC</td>
					<td><!--insert script for retrieving from db-->Veteran</td>
					<td><!--insert script for retrieving from db-->11/27/12 12:15:32 PM</td>
					<td><!--insert script for retrieving from db--><a href="#firstMessage" data-toggle="modal">Semper-Fi!</td>
				</tr>
				<tr>
					<td><!--insert script for retrieving from db-->Civilian</td>
					<td><!--insert script for retrieving from db-->Wounded Warrior</td>
					<td><!--insert script for retrieving from db-->11/10/12 8:05:52 PM</td>
					<td><!--insert script for retrieving from db-->Thank you for your service!</td>
				</tr>
				<tr>
					<td><!--insert script for retrieving from db-->Civilian</td>
					<td><!--insert script for retrieving from db-->Active Duty Soldier</td>
					<td><!--insert script for retrieving from db-->10/23/12 6:23:43 PM</td>
					<td><!--insert script for retrieving from db-->Keep fighting for our freedom.</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div id="firstMessage" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h3 id="myModalLabel">Former USMC</h3>
		</div>
		<div class="modal-body">
			<p>Semper-Fi!</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning" href="viewMessages.html" data-dismiss="modal" aria-hidden="true">Reject</button>
			<button class="btn btn-success" href="viewMessages.html" data-dismiss="modal" aria-hidden="true">Approve</button>
			<button class="btn btn-primary" href="viewMessages.html" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>
    <hr>

    <div class="footer">
		<p>&copy; TeamTCI 2012</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.min.js"></script>    