@{
    ViewBag.Title = "Send Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Send a message to a hero today!</h2>
    <p class="lead">Welcome to Salute a Soldier, a tool that allows you to anonymously send a message of inspiration
        to a soldier, veteran, or family of an American hero!</p>
    <div align="center">
        <select data-bind="value: Destination">
            <option value="1">Active Duty Soldier</option>
            <option value="2">Wounded Warrior</option>
            <option value="3">Veteran</option>
            <option value="4">Family</option>
        </select>
        <br/>
        <textarea style="width:75%;" align="center" rows="10" data-bind="value: Text"></textarea>
        <br>
        <button class="btn btn-large btn-primary" href="#confirmSubmit" data-toggle="modal" data-bind="click: SendMessage">Send Message</button>
    </div>
</div>

<div id="confirmSubmit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h3 id="myModalLabel">Success!</h3>
		</div>
		<div class="modal-body">
			<p>Your message has been submitted</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" href="index.html" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
</div>

<hr>

<div class="footer">
    <p>&copy; TeamTCI 2012</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.min.js"></script>
@Scripts.Render("~/Scripts/sendmessage.js")

<script type="text/javascript">
    ko.applyBindings(new MessageViewModel());
</script>
