@{
    ViewBag.Title = "Send Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Send a message to a hero today!</h2>
    <p class="lead">Welcome to Salute a Soldier, a tool that allows you to anonymously send a message of inspiration
        to a soldier, veteran, or family of an American hero!</p>
    <div align="center">
        <h3>Step 1: Select a Recipient</h3>
        <select data-bind="foreach: UserTypes, value: Destination">
            <option data-bind="attr: {value: ID}, text: Name"></option>
        </select>
        <br/>
        <h3>Step 2: Enter Your Message</h3>
        <textarea style="width:75%;" align="center" rows="10" data-bind="value: Text"></textarea>
        <br>
        <button class="btn btn-large btn-primary" data-bind="click: SendMessage">Send Message</button>
    </div>
</div>

<div id="confirmSubmit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h3 id="myModalLabel">Success!</h3>
		</div>
		<div class="modal-body">
			<p>Your message has been submitted</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" href="index.html" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
</div>

<hr>

<div class="footer">
    <p>&copy; TeamTCI 2012</p>
</div>

<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.min.js"></script>
@Scripts.Render("~/Scripts/sendmessage.js")

<script type="text/javascript">
    setActiveNavItem("Home");
    ko.applyBindings(new MessageViewModel());
</script>
