@{
    ViewBag.Title = "ViewMessages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="viewmessages" class="jumbotron">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Message</th>
				</tr>				
			</thead>
			<tbody data-bind="foreach: Messages">
				<tr>
					
                    <td data-bind="html: SubmissionDate"></td>
					<td><a href="#firstMessage" data-toggle="modal" data-bind="html: Text"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div id="firstMessage" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h3 id="myModalLabel">Former USMC</h3>
		</div>
		<div class="modal-body">
			<p>Semper-Fi!</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" href="viewMessages.html" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>
    <hr>

    <div class="footer">
		<p>&copy; TeamTCI 2012</p>
    </div>



    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.min.js"></script>  
    @Scripts.Render("~/Scripts/messagedal.js")
    @Scripts.Render("~/Scripts/viewmessages.js")

    <script type="text/javascript">
        setActiveNavItem("Messages");
        ko.applyBindings(new ViewMessagesViewModel(), document.getElementById("viewmessages"));
    </script>     

